.cart {
    margin-block-start: 5rem;
}

.cart__wrapper {
    inline-size: min(90%, 1200px);
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

/* Summary section */

.cart__summary {
    padding: 1.5rem  1rem;
    background-color: var(--surface3);
    border-radius: 8px;
}

.summary__products {
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 2rem;
}

.summary__item {
    align-items: center;
    justify-content: space-between;
}

.summary-item__card {
    align-items: center;
}

.summary-item__picture {
    inline-size: 50px;
    aspect-ratio: 1;
    background-color: var(--surface4);
}

.price-detail {
    margin-block: 2rem;
    border-block: 1px solid var(--surface4);
}

.summary__price-details {
    padding-block: 1rem;
}

.cart__place-order {
    inline-size: 100%;
    border-radius: 0;
}

.price-detail__list-item,
.price-detail__list-total {
    justify-content: space-between;
    align-items: center;
}

.price-detail__grand-total {
    margin-top: 1rem;
}

.price-detail__list-item {
    margin-top: .5rem;
}

.price-detail__list-total > p {
    font-weight: bold;
    color: var(--clr-primary);
}


/* product page */

.cart__products-list {
    background-color: var(--surface3);
    border-radius: 8px;
}

.products-list {
    padding-inline: 1rem;
    padding-block: 1.5rem;
}

.products-list__cards {
    margin-top: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
    grid-auto-rows: 200px;
    gap: 2rem;
}

.products-list__card-item {
    background-color: var(--surface4);
}

.card {
    inline-size: 100%;
    gap: .5rem;
    border: none;
}

.card .card__image {
    height: 200px;
    width: 100%;
}

@media (min-width: 930px) {
    .cart__wrapper {
        grid-template-columns: 1fr 300px;
    }
}